@using SUPERMARKET.Models;
@{
    ViewBag.Title = "Index";
    CartShop x = ViewData["Cart"] as CartShop;
}
<style>
    h2 {
        display: flex;
        color: #212121;
        justify-content: center;
        margin: 100px;
        font-size: 50px;
        font-family: initial;
    }
</style>
<h2>Cảm ơn quý khách đã mua hàng </h2>