
@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách đơn hàng mới</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Tên khách hàng</th>
                                    <th>Ngày giao</th>
                                    <th>Địa chỉ</th>
                                    <th>Thành tiền</th>
                                    <th>Thao tác lệnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>123</td>
                                    <td>Nguyễn Văn A</td>
                                    <td> 12/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>210.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>02</td>
                                    <td>456</td>
                                    <td>Nguyễn Văn B</td>
                                    <td> 01/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>100.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>03</td>
                                    <td>789</td>
                                    <td>Nguyễn Văn C</td>
                                    <td> 12/06/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>2.010.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>04</td>
                                    <td>1234</td>
                                    <td>Nguyễn Văn D</td>
                                    <td> 22/12/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>1.000.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>05</td>
                                    <td>124</td>
                                    <td>Nguyễn Văn E</td>
                                    <td> 27/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>90.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>06</td>
                                    <td>125</td>
                                    <td>Nguyễn Văn F</td>
                                    <td> 03/12/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>280.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>07</td>
                                    <td>1235</td>
                                    <td>Nguyễn Văn G</td>
                                    <td> 03/12/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>100.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>08</td>
                                    <td>243</td>
                                    <td>Nguyễn Văn J</td>
                                    <td> 12/11/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>100.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>09</td>
                                    <td>1236</td>
                                    <td>Nguyễn Văn M</td>
                                    <td> 12/11/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>300.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>10</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>11</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>1237</td>
                                    <td>Nguyễn Văn N</td>
                                    <td> 13/10/2022</td>
                                    <td>Chiêu Liêu, Tân Đông Hiệp, Dĩ An, Bình Dương</td>
                                    <td>213.000VNĐ</td>
                                    <td>
                                        <button class="btn btn-danger"> Hủy đơn</button>
                                        <button class="btn btn-success">Giao hàng</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
